{% include'head.html' %}

<div class="row">
    
    <div class="col-7">
        <div ><img src="https://img.freepik.com/premium-vector/editable-flat-illustration-mobile-tracking_203633-6578.jpg?ga=GA1.1.1154554747.1744259738&semt=ais_hybrid&w=740" class="main-img " alt=""></div>
    </div>
    <div class="col-5 mt-150">
        <div class="text-title fade-in">Welcome to Restaurant Food Ordering</div>
        <div class="text-title-2 fade-in h2 mt-30">Food Happiness Starts Here</div>
        <div class="text-title-2 fade-in h4 mt-20">Eat good,Feel good......</div>
    </div>
</div>




